/* Advanced CSS - My Variables */
:root {
  --primary-color: rgba(11, 69, 87, 0.103);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato;
  font-weight: 300;
  color: rgb(68, 179, 223);
  background-color: #001a28;
}

.container {
  width: 100%;
  height: auto;
  margin: auto;
}

.content{
  width: 100%;
}

/* #nav-menu{
  position: fixed;
  width: 100%;
  height: 0px;
  border-bottom: 1px solid rgba(136, 173, 182, 0.048);  
}  */

#gameLogo {
  position: relative;
  width: 400px;
  padding: 5px;
  top: 5px;
  left: 65px;
  z-index: -1;
}

/**************Sign-in & sign-out button alignment******************/
.login {
  position: fixed;
  left: 85vw;
  top: 5vh;
  z-index: 1;
}

/**************Sign-in & sign-out buttons******************/
button {
  color: #fff;
  text-transform: uppercase;
  background: #0d3a4757;
  padding: 10px;
  border: 2px solid #0a788633;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  text-align: center;
}

button:hover {
  color: #fff;
  border-radius: 50px;
  background: #08425386;
  border-color: #0cbad13a;
  transition: all 0.3s ease 0s;
}

button:focus {
  outline: none;
}

#nav-wrapper {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 1;
}

#nav-wrapper .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

/* Nav menu background position etc. */
#nav-wrapper .hamburger {
  position: absolute;
  display: flex;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 60px;
  height: 50px;
  padding: 1rem;
  background: var(--primary-color);
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
  border-radius: 2px;
  border: none;
}

/* Hamburger First Line - Pushed into empty div tag */
#nav-wrapper .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger First Line - Pushed into empty div tag*/
#nav-wrapper .hamburger > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom  (Creates one line before and another after the first line - Initially first and second lines)*/
#nav-wrapper .hamburger > div::before,
#nav-wrapper .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down - Creates final line after the first two lines above*/
#nav-wrapper .hamburger > div::after {
  top: 10px;
}

/* Toggler Animation */
#nav-wrapper .toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}

/* Hover/shaker effect on Hamburger menu button*/
.menu-wrap .hamburger:hover {
  transform: rotate(2deg);
}

/* Turns Lines Into X */
#nav-wrapper .toggler:checked + .hamburger > div:before,
#nav-wrapper .toggler:checked + .hamburger > div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
#nav-wrapper .toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}

/* Show Menu when the hamburger is checked on/active */
#nav-wrapper .toggler:checked ~ .menu {
  visibility: visible;
}

/* Passing it through the empty div, so when the hamburger nav is clicked on it will scale accordingly */
#nav-wrapper .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

/*Set Opacity of menu*/
#nav-wrapper .toggler:checked ~ .menu > div > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

/* New state of Menu */
#nav-wrapper .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Set background transition colour to appear when opening Menu*/
#nav-wrapper .menu > div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

#nav-wrapper .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

/*Effect of Menu title Contents*/
#nav-wrapper .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

/*Effect of Menu title links (underline removed etc.)*/
#nav-wrapper .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}

/*********************Main content alignment***********/
.content {
  position: fixed;
  top: 15.5%;
  width: 100vw;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.content::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/***********************Video Section************************/
#video {
  position: relative;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: #0221295e;
  border-top: 2px solid rgba(116, 160, 189, 0.068);
  /* border-bottom: 1px solid rgba(116, 160, 189, 0.068); */
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  padding: 2px;
  z-index: -1;
}

/************************Inspiration Section***************************/
#insp-content {
  position: relative;
  left: 0;
  height: 100%;
  background-color: #075b7077;
  border-top: 1px solid rgba(116, 160, 189, 0.068);
  border-bottom: 1px solid rgba(116, 160, 189, 0.068);
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  padding: 50px;
  z-index: -1;
}

.insp-title {
  position: absolute;
  /* color: #fff; */
  font-family: sans-serif;
  padding-bottom: 6px;
  bottom: 0;
  top: 10vh;
  left: 55vw;
  padding: 10px;
  width: 40%;
  /* height: 10vh; */
  text-align: center;
  pointer-events: none;
  /* border: 1px inset rgb(0, 247, 255); */
}

.insp-title h1{
  padding: 4px;
  color: #fff;
  font-family: "Staatliches", cursive;
  font-weight: 400;
  font-size: 45px;
}

#insp-info {
  position: absolute;
  /* color: #fff; */
  font-family: sans-serif;
  padding-bottom: 6px;
  bottom: 0;
  top: 20vh;
  left: 55vw;
  padding: 10px;
  width: 40%;
  /* height: 10vh; */
  text-align: center;
  pointer-events: none;
  /* border: 1px inset rgb(0, 247, 255); */
}

#insp-info h4 {
  font-size: 18px;
  display: block;
  font-style: italic;
  color: #997f5a;
  font-weight: 400;
}

.insp-contentBox{
  position: relative;
  width: 30%;
  background-color: #147d9741;
  min-height: 30%;
  top: -25vh;
  left: 58vw;
  border: 1px solid rgba(116, 160, 189, 0.068);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.insp-contentBox .text{
  position: relative;
  margin: 10px;
  box-sizing: border-box;
  display: inline-block;
  padding: 5px;
  color: #997f5a;
  font-weight: 400;
  /* left: 1%;
  transform: translateY(8vh); */
}

.slider{
  position: relative;
  width: 900px;
  height: 500px;
  background: url(./img/xcom2.jpg);
  top: 5vh;
  left: -2vw;
  background-repeat: no-repeat;
  animation: slide 20s infinite;
  border-radius: 5px;
}

@keyframes slide{
  25%{
    background: url(./img/xcom.gif);
    background-repeat: no-repeat;
  }
  50%{
    background: url(./img/fire-emblem.gif);
    background-repeat: no-repeat;
  }
  75%{
    background: url(./img/fire-emblem2.jpg);
    background-repeat: no-repeat;
  }
}


/*************************Meet your Heroes Section***************************/
#heroes {
  position: relative;
  left: 0;
  height: 100%;
  background-color: #075b7077;
  border-top: 1px solid rgba(116, 160, 189, 0.068);
  border-bottom: 1px solid rgba(116, 160, 189, 0.068);
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  padding: 50px;
  z-index: -1;
}

#heroes h1{
  padding: 4px;
  color: #fff;
  font-family: "Staatliches", cursive;
  font-weight: 400;
  font-size: 45px;
}

.hero-img-gal{
  width: 1280px;
  background-color: #147d9741;
  min-height: 70%;
  margin: 70px auto 0;
  border: 1px solid rgba(116, 160, 189, 0.068);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}

.hero-img-gal .bio{
  position: relative;
  width: 230px;
  height: 230px;
  background: #9b7a4cc2;
  margin: 5px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 55px;
  border: 1px inset rgba(0, 0, 0, 0.356);
  padding: 5px;
  left: 1%;
  transform: translateY(10vh);
}

.hero-img-gal .bio .imgBox{
  position: absolute;
  overflow: hidden;
}

.hero-img-gal .bio .imgBox img{
  max-width: 100%;
  transition: transform 2s;
}

.hero-img-gal .bio:hover .imgBox img{
  transform: scale(1.12);
}

.hero-img-gal .bio .details{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #05374b21;
  transform: scaleY(0);
  transition: transform .5s;
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
}

.hero-img-gal .bio:hover .details{
  transform: scaleY(1);
}

.hero-img-gal .bio .details .bio-content{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  padding: 15px;
  color: rgb(255, 255, 255);
}

.hero-img-gal .bio .details .bio-content h2{
  margin: 0%;
  padding: 0%;
  transform: translateY(30px);
  font-size: 35px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif
}

.hero-img-gal .bio .details .bio-content p{
  margin: 10px 0 0;
  padding: 0%;
  transform: translateY(10px);
}


/*************************What to expect***************************/
#expectations-sec {
  position: relative;
  left: 0;
  height: 80vh;
  background-color: #1f72861c;
  border-top: 1px solid rgba(116, 160, 189, 0.068);
  border-bottom: 1px solid rgba(116, 160, 189, 0.068);
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
  padding: 50px;
  z-index: -1;
}

#expectations-sec h1{
  padding: 4px;
  color: #fff;
  font-family: "Staatliches", cursive;
  font-weight: 400;
  font-size: 45px;
}

#expectations-sec h5{

}

/*************************Adjust Screen size limits***************************/
@media (max-width: 960px) {
  .login {
    display: none;
  }
  #img-container{
    padding: 0px;
   }
   #nav-arrows a{
    display: none;
   }
}

@media (max-width: 960px) {
  .content {
    padding: 10px;
  }

  #insp-content {
    padding: 10px;
  }
  .insp-title h1{
    transform: translateX(-30vw);
  }
  #insp-info h3{
    position: relative;
    top: 15%;
    transform: translateX(-30vw);
  }
  #insp-info h4{
    position: relative;
    top:12%;
    transform: translateX(-30vw);
  }
}

@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport{
  width: extend-to-zoom;
  zoom: 1.0;
}

/* .video-content{
  position: fixed;
  top: 14%;
  width: 100%;  
  background-color: #0221295e;
  border-top: 2px solid rgba(116, 160, 189, 0.068);
  border-bottom: 2px solid rgba(116, 160, 189, 0.068);
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
  padding: 5px;
  z-index: -1;
} */
